/*global setting*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
.container {
  max-width: 569px;
  padding-top: 40px;
  margin: 0 auto;
  justify-content: center;
  display: flex;
  gap: 34px;
  align-items: flex-end;
}
h4 {
  z-index: 99;
  margin-bottom: 20px;
  font-weight: 500;
  font-size: 10px;
}

/*---------------header starts here----------------*/
.header .box.one h2,
h3 {
  color: #548ab0;
  font-size: 20px;
}
.header span {
  color: #548ab0;
  font-size: 20px;
}
.header .boxes {
  display: flex;
  flex-wrap: wrap;
  gap: 13px;
  justify-content: space-between;
}
.header .box {
  padding: 22px 13px;
  border-radius: 9px;
  display: flex;
  flex-wrap: wrap;
  gap: 23px;
}
.header .box.one {
  background-color: #faf1e8;
}
.header .box.two {
  background-color: #feebb1;
}
.header .box.three {
  background-color: #f3c6c1;
}
.header .box.two h2,
h3 {
  color: #c46934;
  font-size: 20px;
}
.header .box.two span {
  color: #c46934;
  font-size: 20px;
}
.header .box.three h2,
h3 {
  color: #b01817;
  font-size: 20px;
}
.header .box.three span {
  color: #b01817;
  font-size: 20px;
}
/*--------------mainBanner starts here----------------*/
.mainbanner-inner {
  display: flex;
  gap: 20px;
  padding: 61px 0 0 0;
  flex-wrap: wrap;
  position: relative;
}
.mainbanner-inner::before {
  position: absolute;
  content: '';
  background-color: gray;
  width: 1px;
  height: 263px;
  left: -18px;
}
.header-intro {
  display: flex;
  justify-content: center;
  gap: 25px;
}
.column-2 {
  background-color: #b1eaf3;
  width: 101px;
  height: 54px;
  display: flex;
  justify-content: center;
  border-radius: 10px;
}


.column-2 h6 {
  font-size: 17px;
  text-align: center;
  padding-bottom: 20px;
  font-weight: 500;
}
h6:last-child {
  padding-bottom: initial;
}
.column-2.change {
  background-color: #feebb1;
}

.column-2 span {
  display: block;
    height: 17px;
    font-size: 12px;
}
.column-2.change2 {
  background-color: #f3c6c1;
}
.column-2.change2 h5 {
  color: #9c5551;
  background-color: #f3c6c1;
}
.column-2.change3 {
  background-color: #c8e5c9;
}
.column-2.change3 h5 {
  color: #4c8854;
  background-color: #c8e5c9;
}