/*global setting*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
.App {
  background-color: whitesmoke;
  height: 100vh;
}
.container {
  max-width: 615px;
  padding-top: 40px;
  margin-bottom: 33px !important;
  margin: 0 auto;
  justify-content: flex-end;
  flex-wrap: wrap;
  position: relative;
  display: flex;
  align-items: flex-end;
}

h4 {
  z-index: 99;
  font-weight: 500;
  font-size: 13px;
  color: #464646;
}

/*---------------header starts here----------------*/
.header .box.one h2,
h3 {
  color: #548ab0;
  font-size: 20px;
}
.header span {
  color: #548ab0;
  font-size: 20px;
}
.header .boxes {
  display: flex;
  flex-wrap: wrap;
  gap: 13px;
  justify-content: space-between;
}
.box {
  border: 1px solid transparent;
  transition: .2s all ease-in-out;
}

.box:hover {
  background-color: transparent !important;
  border: 1px solid #d8c18f;
}
.header .box {
  padding: 22px 13px;
  border-radius: 9px;
  display: flex;
  flex-wrap: wrap;
  width: 206;
  gap: 23px;
}
.header .box.one {
  background-color: #faf1e8;
}
.header .box.two {
  background-color: #feebb1;
}
.header .box.three {
  background-color: #f3c6c1;
}
.header .box.two h2,
h3 {
  color: #c46934;
  font-size: 20px;
}
.header .box.two span {
  color: #c46934;
  font-size: 20px;
}
.header .box.three h2,
h3 {
  color: #b01817;
  font-size: 20px;
}
.header .box.three span {
  color: #b01817;
  font-size: 20px;
}
/*--------------mainBanner starts here----------------*/
.mainbanner-inner {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  position: relative;
}
.header-intro {
  display: flex;
  justify-content: center;
  gap: 25px;
}
.column-1 {
  display: flex;
  align-items: center;
  position: relative;
  width: 76px;
}
.column-1::after {
  content: '';
  position: absolute;
  width: 439px;
  height: 1px;
  background-color: #feebb1;
  bottom: 0px;
}
.column-1:last-child {
  position: initial;
}
.mainbanner-info {
  display: flex;
  flex-wrap: wrap;
}
.mainbanner-info h5 {
  position: absolute;
  top: 12px;
  color: #4786a9;
  width: 101px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  text-align: center;
  height: 28px;
  margin: 0 auto;
  background-color: #b1eaf3;
  left: 272px;
}
.value-2 {
  left: 393px !important;
  background-color: #feebb1 !important;
  color: #c08953 !important;
}
.value-3 {    
  left: 514px !important;
  color: #b5625e !important;
  background-color: #f3c6c1 !important;
}
.column-2 {
  background-color: #b1eaf3;
  width: 101px;
  height: 54px;
  display: flex;
  justify-content: center;
  border: 1px solid transparent;
  transition: .2s all ease-in-out;
}
.column-2 h6 {
  font-size: 17px;
  text-align: center;
  padding-bottom: 20px;
  font-weight: 500;
}
h6:last-child {
  padding-bottom: initial;
}
.column-2.change {
  background-color: #feebb1;
}

.column-2 span {
  display: block;
    height: 17px;
    font-size: 12px;
}
.column-2.change2 {
  background-color: #f3c6c1;
}
.column-2.change2 h5 {
  color: #9c5551;
  background-color: #f3c6c1;
}
.column-2.change3 {
  background-color: #c8e5c9;
}
.column-2.change3 h5 {
  color: #4c8854;
  background-color: #c8e5c9;
}